body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p {
  font-size: 21px;
  color: gray;
}

h3 {
  text-align: right;
  color: gray;
  margin-right: 20px;
}

img {
  margin-bottom: 20px;
}
